{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>C O F F E E D</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/agency.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">C O F F E E D</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">How it Works</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Our Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Get Invited</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
    <div class="container">
     <div class="intro-text">
     <div class="intro-heading">Hi, We're Coffeed.</div>
     <div class="intro-lead-in">Find your favorite office away from home. We're curating some of the best coffee shops to successfully work, meet & thrive at.</div>
    <a href="#services" class="page-scroll btn btn-xl">How It Works</a>
    </div>
    </div>
    </header>

    <!-- Services Section -->
    <section id="services">
    <div class="container">
    <div class="row">
    <div class="col-lg-12 text-center">
    <h2 class="section-heading">How It Works</h2>
     
    </div>
    </div>
    <div class="row text-center">
    <div class="col-md-4">
    <img class="coffeed-svg-icon" src="{% static "img/svg/python_flag.svg" %}"></>
    <h4 class="service-heading">Discover Amazing Spots</h4>
    <p class="text-muted">Coffeed works hard to curate the best coffee places for independent working- so that you can hit those deadlines.</p>
    </div>
    <div class="col-md-4">
    <img class="coffeed-svg-icon" src="{% static "img/svg/python_badge.svg" %}"></>
    <h4 class="service-heading">Review Your Favorites</h4>
    <p class="text-muted">Find out what other people are saying and chime in with your opinion. Help each other find the best work locale.</p>
    </div>
    <div class="col-md-4">
    <img class="coffeed-svg-icon" src="{% static "img/svg/python_rocket.svg" %}"></>
    <h4 class="service-heading">Promote Your Business</h4>
    <p class="text-muted">Anyone can add their coffee shop location to Coffeed for free. Sit back, relax & watch the reviews pour in.</p>
    </div>
    </div>
    </div>
    </section>
    

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
    <div class="container">
    <div class="row">
    <div class="col-lg-12 text-center">
    <h2 class="section-heading">Our Caffeinated Team</h2>
    <h3 class="section-subheading text-muted">Working hard to find you the best of the best.</h3>
    </div>
    </div>
    <div class="row">
    <div class="col-sm-4">
    <div class="team-member">
    <img src="{% static "img/team/1.jpg" %}" class="img-responsive img-circle" alt="">
    <h4>Kristina Zmaic</h4>
    <p class="text-muted">Founder & Designer</p>
    <ul class="list-inline social-buttons">
    <li><a href="https://twitter.com/kzmaic"><i class="fa fa-twitter"></i></a>
    </li>
    <li><a href="https://instagram.com/kzmaic/"><i class="fa fa-instagram"></i></a>
    </li>
    </ul>
    </div>
    </div>
    <div class="col-sm-4">
    <div class="team-member">
    <img src="{% static "img/team/2.jpg" %}" class="img-responsive img-circle" alt="">
    <h4>Eric Neuman</h4>
    <p class="text-muted">Web & Business Development</p>
    <ul class="list-inline social-buttons">
    <li><a href="https://twitter.com/eric_neuman"><i class="fa fa-twitter"></i></a>
    </li>
    <li><a href="https://instagram.com/eric_neuman"><i class="fa fa-instagram"></i></a>
    </li>
    <li><a href="https://www.linkedin.com/in/ericneuman"><i class="fa fa-linkedin"></i></a>
    </li>
    </ul>
    </div>
    </div>
    <div class="col-sm-4">
    <div class="team-member">
    <img src="{% static "img/team/3.jpg" %}" class="img-responsive img-circle" alt="">
    <h4>Chris Castiglione</h4>
    <p class="text-muted">Project Management</p>
    <ul class="list-inline social-buttons">
    <li><a href="https://twitter.com/castig"><i class="fa fa-twitter"></i></a>
    </li>
    <li><a href="https://instagram.com/castig"><i class="fa fa-instagram"></i></a>
    </li>
    <li><a href="http://www.linkedin.com/in/castig"><i class="fa fa-linkedin"></i></a>
    </li>
    </ul>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center">
    <p class="large text-muted">We're three geeks who love coffee, working, and building things — and wanted to map out all the best coffee locations where we would work with ease in our neighborhood.</p>
    </div>
    </div>
    </div>
    </section>
    
    <!-- Contact Section -->
    <section id="contact">
    <div class="container">
    <div class="row">
    <div class="col-lg-12">
    <h2 class="section-heading">Be the first to find out.</h2>
    <h3 class="section-subheading text-muted">We'll be launching soon, so sign up to be one of the first to be invited.</h3>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-12">
    <div id="mc_embed_signup">
    <form action="//onemonth.us7.list-manage.com/subscribe/post?u=0906b75c0e799fc3ea1dbf935&amp;id=612428ba89" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div class="form-group">
    <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required style="width: 300px;">
    </div>
    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
    </form>
    </div>
    </div>
    </div>
    </div>
    </section>

    

    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static "js/classie.js" %}"></script>
    <script src="{% static "js/cbpAnimatedHeader.js" %}"></script>


    <!-- Custom Theme JavaScript -->
    <script src="{% static "js/agency.js" %}"></script>

</body>

</html>
